* {
    font-family: 'Courier New', Courier, monospace;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

#left-content-box {
    height: 100vh;
}

#sub-left-content-box {
    flex-wrap: wrap;
}

#heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#signing {
    font-family: fantasy;
}

#hydrangea {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(49, 112, 167, 0.2);
}

#right-content-box {
    height: 100vh;
    flex-wrap: wrap;
}

#sub-right-content-box {
    flex-wrap: wrap;
}