* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url("./bg.jpeg");
    background-position: center;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sortable li {
    border: none;
    margin: 10px 10px 10px 0;
    padding: 5px;
    float: left;
    width: 100px;
    height: 90px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sortable li>img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    clip: rect();
}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

#left-content-box {
    height: 100vh;
}

#sub-left-content-box {
    flex-wrap: wrap;
}

#heading {
    font-family: "child";
    color: white;
    letter-spacing: 2px;
}

#signing {
    font-family: fantasy;
    color: white;
    font-weight: 900;
}

#hydrangea {
    border-width: 1px;
    border-style: solid;
}

#right-content-box {
    height: 100vh;
    flex-wrap: wrap;
}

#sub-right-content-box {
    flex-wrap: wrap;
}

#real-download {
    display: none;
}

#spinner {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

#update, #download,#input-label {
    background: none;
    color: white;
    border: none;
}

#input {
    /* border: none; */
    background: none;
    color: white;
    max-width: 648px;
    display: none;
}

#input:hover {
    background: none;
}

@font-face {
    font-family: "child";
    src: url("./child.otf");
}

#test {
    width: fit-content;
}